{% import "components/articles_macros.j2" as macros %}
{% extends "layout.j2" %}
{% block title %}
{{article.title}}
{% endblock title %}

{% block content %}
<div class="article-page">
    <div class="banner">
        <div class="container">
            <h1>{{article.title}}</h1>
            {{macros::metadata(article=article, is_preview=false)}}
        </div>
    </div>

    <div class="container page">
        <div class="row article-content">
            <div class="col-md-12">
                <p>{{article.body}}</p>
            </div>
        </div>

        <ul class="tag-list">
            {% for t in article.tag_list %}
            <li class="tag-default tag-pill tag-outline">{{t}}</li>
            {% endfor %}
        </ul>

        <hr />

        <div class="article-actions">
            <div class="row" style="justify-content: center;">
                {{macros::metadata(article=article, is_preview=false)}}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-8 offset-md-2">
                {% if user %}
                <form method="post" action="{{routes['article'] ~ '/' ~ article.slug ~ '/comments'}}"
                    class="card comment-form">
                    <div class="card-block">
                        <textarea name="body" class="form-control" placeholder="Write a comment..." rows="3"></textarea>
                    </div>
                    <div class="card-footer">
                        <img src="{{user.image}}" class="comment-author-img" />
                        <button class="btn btn-sm btn-primary" type="submit">
                            Post Comment
                        </button>
                    </div>
                </form>
                {% endif %}

                {% for c in comments %}
                <div id="comment-{{c.id}}" class="card">
                    <div class="card-block">
                        <p class="card-text">{{c.body}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{c.user_link}}" class="comment-author">
                            <img src="{{c.user_image}}" class="comment-author-img" />
                        </a>
                        &nbsp;
                        <a href="{{c.user_link}}" class="comment-author">{{c.username}}</a>
                        <span class="date-posted">{{c.created_at}}</span>
                        {% if username and username == c.username %}
                        <form action="{{routes['article'] ~ '/' ~ article.slug ~ '/comments/' ~ c.id}}" method="post"
                            class="comment-author">
                            <button class="btn btn-sm" type="submit"><i class="ion-trash-b"></i></button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}