{% extends "layout.j2" %}
{% block title %}
Login
{% endblock title %}

{% block content %}
<div class="container page">
    <div class="row">
        <div>
            <h1>We're having problems</h1>
            <p>
                Please, try again later or
                <a href="https://github.com/Bechma/realworld-actix-fullstack">click here to open an issue</a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}