<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <!-- Import Ionicon icons & Google Fonts our Bootstrap theme relies on -->
    <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link
        href="//fonts.googleapis.com/css?family=Titillium+Web:700|Source+Serif+Pro:400,700|Merriweather+Sans:400,700|Source+Sans+Pro:400,300,600,700,300italic,400italic,600italic,700italic"
        rel="stylesheet" type="text/css">
    <!-- Import the custom Bootstrap 4 theme from our hosted CDN -->
    <link rel="stylesheet" href="//demo.productionready.io/main.css">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    {% set index = routes.index -%}
    <nav class="navbar navbar-light">
        <div class="container">
            <a class="navbar-brand" href="{{index}}">conduit</a>
            <ul class="nav navbar-nav pull-xs-right">
                <li class="nav-item">
                    <a class="nav-link{% if current == index %} active{% endif %}" href="{{index}}"><i
                            class="ion-home"></i>&nbsp;Home</a>
                </li>
                {% if username %}
                <li class="nav-item">
                    <a class="nav-link{% if current == routes.editor %} active{% endif %}" href="{{routes.editor}}">
                        <i class="ion-compose"></i>&nbsp;New Article
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if current == routes.settings %} active{% endif %}" href="{{routes.settings}}">
                        <i class="ion-gear-a"></i>&nbsp;Settings
                    </a>
                </li>
                {% set profile_path = routes.profile ~ '/' ~ username -%}
                <li class="nav-item">
                    <a class="nav-link{% if current == profile_path %} active{% endif %}" href="{{profile_path}}"><i
                            class="ion-person"></i> {{username}}</a>
                </li>
                <li class="nav-item">
                    <form action="{{routes.logout}}" method="post">
                        <button type="submit" class="nav-link" style="background: none; border: none;"><i
                                class="ion-log-out"></i>&nbsp;Logout</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link{% if current == routes.login %} active{% endif %}" href="{{routes.login}}"><i
                            class="ion-log-in"></i> Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if current == routes.register %} active{% endif %}"
                        href="{{routes.register}}">Sign up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock content %}
    <footer>
        <div class="container">
            <a href="{{index}}" class="logo-font">conduit</a>
            <span class="attribution">
                An interactive learning project from <a href="https://thinkster.io">Thinkster</a>. Code &amp; design
                licensed under MIT.
            </span>
        </div>
    </footer>
</body>

</html>