{% extends "layout.j2" %}
{% block title %}
Register
{% endblock title %}

{% block content %}
<div class="auth-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Sign up</h1>
                <p class="text-xs-center"><a href="{{routes['login']}}">Have an account?</a></p>

                {% if error %}
                <ul class="error-messages">
                    <li>{{error}}</li>
                </ul>
                {% endif %}

                <form action="{{routes['register']}}" method="post" name="form_data">
                    <fieldset class="form-group">
                        <input name="username" class="form-control form-control-lg" type="text"
                            placeholder="Your Username" />
                    </fieldset>
                    <fieldset class="form-group">
                        <input name="email" class="form-control form-control-lg" type="text" placeholder="Email" />
                    </fieldset>
                    <fieldset class="form-group">
                        <input name="password" class="form-control form-control-lg" type="password"
                            placeholder="Password" />
                    </fieldset>
                    <input type="submit" class="btn btn-lg btn-primary pull-xs-right" value="Sign up" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}