{% import "components/buttons.j2" as buttons %}

{% macro preview(article) %}
<div class="article-preview">
    {{self::metadata(article=article, is_preview=true)}}
    <a href="{{routes.article ~ '/' ~ article.slug}}" class="preview-link">
        <h1>{{article.title}}</h1>
        <p>{{article.description}}</p>
        <span class="btn">Read more...</span> {%if article.tags != "" %}
        <ul class="tag-list">
            <i class="ion-pound"></i>
            {% for t in article.tags | split(pat=' ') %}
            <li class="tag-default tag-pill tag-outline">{{t}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </a>
</div>
{% endmacro preview %}

{% macro metadata(article, is_preview) %}
<div class="article-meta">
    <a href="{{routes.profile ~ '/' ~ article.author.username}}"><img src="{{article.author.image}}" /></a>
    <div class="info">
        <a href="{{routes.profile ~ '/' ~ article.author.username}}" class="author">{{article.author.username}}</a>
        <span class="date">{{article.created_at}}</span>
    </div>
    {% if is_preview %}
    {{buttons::fav(article=article)}}
    {% elif username and username == article.author.username %}
    <a class="btn btn-sm btn-outline-secondary" href="{{routes.editor ~ '/' ~ article.slug}}"><i
            class="ion-compose"></i> Edit article</a>
    <form method="post" action="{{routes.article ~ '/' ~ article.slug ~ '/delete'}}" style="display: inline-block;">
        <button type="submit" class="btn btn-sm btn-outline-secondary"><i class="ion-trash-a"></i> Delete
            article</button>
    </form>
    {% elif username %}
    {{buttons::follow(user=article.author.username, following=article.author.following)}}
    {{buttons::fav(article=article)}}
    {% endif %}
</div>
{% endmacro metadata %}