{% macro follow(user, following) %}
{% if username and username != user %}
<form method="post" action="{{routes['profile'] ~ '/' ~ user}}{% if following %}/unfollow{% else %}/follow{% endif %}"
    style="display: inline-block;">
    <button type="submit" class="btn btn-sm btn-outline-secondary">{% if following %}<i class="ion-close-round"></i>
        Unfollow{% else %}<i class="ion-plus-round"></i> Follow{% endif %}
        {{user}}</button>
</form>
{% endif %}
{% endmacro follow %}

{% macro fav(article) %}
{% if username %}
<form method="post"
    action="{{routes['article'] ~ '/' ~ article.slug}}{% if article.fav %}/unfav{% else %}/fav{% endif %}"
    style="display: inline-block;">
    <button type="submit" class="btn btn-sm btn-outline-primary"><i
            class="ion-heart{% if article.fav %}-broken{% endif %}"></i>
        {% if article.fav %}Unfav{% else %}Fav{% endif %} Post <span
            class="counter">({{article.favorites_count}})</span></button>
</form>
{% else %}
<button type="submit" class="btn btn-sm btn-outline-primary"><i class="ion-heart"></i>
    <span class="counter">({{article.favorites_count}})</span></button>
{% endif %}
{% endmacro fav %}